/* You can add global styles to this file, and also import other style files */

.dxrd-toolbar-item-10 {
    display: none !important;
}

.dxrd-toolbar-item-11 {
    display: none !important;
}

.dxrd-toolbar-item-9 {
    display: none !important;
}

.dxrd-toolbar-itema-13 {
    display: none !important;
}

.dxrd-toolbar-item-15 {
    display: none !important;
}

.dxrd-preview-export-toolbar-item {
    display: none !important;
}

.dxrd-right-tabs {
    display: none !important;
}

.dxrd-toolbar-item-5 {
    display: none !important;
}

.dxrd-toolbar-item-zoom {
    display: none !important;
}