<nav class="navbar">
    <ul class="navbar-links">
        <li><a routerLink="/admin" href="/admin">Admin</a></li>
        <li><a routerLink="/tabpanel" href="/tabpanel">Multiple Tab Panel</a></li>
        <li><a routerLink="/user" href="/user">User</a></li>
        <li><a routerLink="/signature" href="/signature">Signature</a></li>
        <li><a routerLink="/toc" href="/toc">Table Of Content</a></li>
        <li><a routerLink="/json" href="/json">Json</a></li>
        <li><a routerLink="/employeedetails" href="/employeedetails">Employee Details</a></li>
        <li><a routerLink="/dynamicjson" href="/dynamicjson">Dynamic Json</a></li>
    </ul>
</nav>