<p>Admin Report</p>
<br>
<div class="dropdown">
    City:
    <select [(ngModel)]="selectedCity">
        <option *ngFor="let city of cityNames" [value]="city">{{ city }}</option>
    </select>

    &nbsp;&nbsp;
    Language:
    <select [(ngModel)]="selectedCountry">
        <option *ngFor="let country of countryNames" [value]="country">{{ country }}</option>
    </select>

    &nbsp;&nbsp;
    <button (click)="submitParameter()"><span>Submit</span></button>
</div>
<br>
<dx-report-viewer [reportUrl]="reportUrl" height="800px">
    <dxrv-request-options [invokeAction]="invokeAction" [host]="hostUrl"></dxrv-request-options>
</dx-report-viewer>